<div class="row" style="margin-top:25px;">
	<div class="small-12 columns">
		<h1>Welcome To Hilltop</h1>
		<p>Helping you make it to the top</p>
		<ul>
			 <% if current_user %>
        <li><%= link_to "Goals", goals_path %></li>
         <li><%= link_to "Log out #{current_user.email}", logout_path %></li>
       <% else %>
         <li><%= link_to "Sign up", signup_path %></li>
				 <li><%= link_to "Log in", login_path  %></li>
       <% end %>
			</ul>
	</div>
</div>
