


<div class="row" style="margin-top:25px;">
	<div class="small-12 columns">
		<h1>Editing goal</h1>

		<%= render 'form' %>
		<br />
		<br />
		<br />

		<%= link_to 'Show', @goal %> |
		<%= link_to 'Back', goals_path %>
	</div>
</div>