.contain-to-grid {
  background: -moz-linear-gradient(top, rgba(229,229,229,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
}


.goal-block {
	padding:15px;
	background:#fff;
	border-radius:10px;
	-webkit-border-radius:10px;
	margin-bottom:15px;
	p {
		margin-bottom:0;
	}
}

.lighter-text {
	color:#aaa;
}


.goal-header {
	background:#f7f5f5;
	margin:-15px;
	margin-bottom:15px;
	padding:15px;
}

 .sidebar {
	color:#979797;
}