<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Your <%= @user.goals.active.size %> Goals <%= @user.email %></h1>
    <p>
      <strong>You have <%= @user.goals.active.size %> goals you are working toward. Everyday take a step toward accomplishing them. Never settle. Keep climbing. I'll see you at the hill top.</strong>
    </p>
		<p>
    <%= link_to "Hilltop", root_url %>
		</p>

  </body>
</html>
